@import "tailwindcss";

@theme {
  --color-verde-50: #f0fdf4;
  --color-verde-100: #dcfce7;
  --color-verde-400: #4ade80;
  --color-verde-500: #22c55e;
  --color-verde-600: #16a34a;
  --color-verde-700: #15803d;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}
